parameters:
    level: 5
    paths:
        - src/
        - tests/
    excludePaths:
        - vendor/
    ignoreErrors:
        # Mockery dynamic methods and mock objects
        - '#expects .*, Mockery\\MockInterface given#'
        - '#Property .* is never read, only written#'
    tmpDir: /tmp/phpstan
